.button {
  font-size: 16px;
  padding: 1.2em 1.4em;
  background-color: #fd1015;
  transition: 300ms;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: inline-block;
}

.button:hover {
  background-color: #e45d60;
}

.button-secondary {
  background-color: white;
  color: #fd1015;
}

.button-secondary:hover {
  background-color: lightgray;
}